@use "./layout/guild-bar.scss";
@use "./layout/user-pane.scss";
@import "../vars.scss";

.client {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $colorBg;
    overflow: hidden;
    animation: 350ms linear animation-open;
}

.client>.content-pane {
    flex: 1;
}

// Opening animation
@keyframes animation-open {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}