.dm-user-info {
    margin-top: auto;
    padding: 20px;
    box-sizing: border-box;

    .avatar {
        height: 128px;
        width: 128px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        margin-bottom: 1rem;
    }

    .username {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 1rem;
    }
}