// Font variables

$mainFont: "Open Sans";
$mainFontSize: 14px;

$titleFont: "Cairo";
$titleFontSize: 24px;

$colorPrimary: #5e5eac;
$colorSecondary: #515194;
$colorBg: rgb(235, 235, 235);
$colorBgSecondary: rgb(215, 215, 215);
$colorBgTertiary: rgb(195, 195, 195);