@import "./nav.scss";
@import "../../vars.scss";

.index-page>.top {
    height: 50vh;
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    display: flex;
    flex-direction: column;

    .banner {
        flex: 1;
        display: flex;
        color: white;

        // Middle container
        .middle {
            margin: auto;
            text-align: center;

            // Main text container
            .main {
                font-family: $titleFont;
                font-size: 36px;
                font-weight: bold;
            }

            // Subtext
            .sub {
                margin-top: 1em;
                font-size: 16px;
            }
        }
    }
}