@import "../../vars.scss";

.guild-bar {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $colorBgQuaternary;

    .separator {
        background-color: $colorBg;
        height: 1px;
        margin-bottom: 10px;
    }

    .item {
        height: 48px;
        width: 48px;
        margin-bottom: 10px;
        background-color: $colorBg;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        cursor: pointer;
    }
}