.form {
    // Field styles
    .field {
        margin-bottom: 1em;

        input {
            margin-top: 0.25rem;
            width: 100%;
        }
    }

    .ui-checkbox {
        margin-bottom: 10px;
    }

    .submit {
        width: 100%;
    }

    // Error box styles
    .error-box {
        display: none;
        padding: 10px;
        background: rgb(211, 24, 24);
        color: white;
        border-radius: 5px;
        margin-top: 1em;
    
        // active state
        &.active {
            display: block;
        }
    }
}